<div class="card flex mt-2 pb-2 justify-content-center">
  <p-selectbutton
    [options]="options"
    [(ngModel)]="selectedOption"
  ></p-selectbutton>
</div>
<p-button
  (click)="openNew()"
  icon="pi pi-plus"
  class="add-fab"
  [rounded]="true"
></p-button>
@if (data) {
  <p-table
    [value]="data[selectedOption]"
    sortField="value"
    [sortOrder]="-1"
    styleClass="p-datatable-sm p-datatable-striped text-sm"
    >
    <ng-template #header>
      <tr>
        <th class="pr-0" pSortableColumn="category">
          Name
          <p-columnfilter
            field="category"
            matchMode="in"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            >
            <ng-template #header>
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">Category Picker</span>
              </div>
            </ng-template>
            <ng-template #filter let-value let-filter="filterCallback">
              <p-multiselect
                [ngModel]="value"
                [options]="categories"
                placeholder="Any"
                (onChange)="filter($event.value)"
                >
                <ng-template #item let-option>
                  <div class="inline-block vertical-align-middle">
                    <p-tag [value]="option" [rounded]="true"></p-tag>
                  </div>
                </ng-template>
              </p-multiselect>
            </ng-template>
          </p-columnfilter>
        </th>
        <th pSortableColumn="value">Amount</th>
        <th class="pr-0">Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td class="pr-0 w-6">
          {{ item.name }}
          @if (item.category) {
            <p-tag
              [value]="item.category"
              [rounded]="false"
            ></p-tag>
          }
        </td>
        <td>{{ item.value | currencyUnit }}</td>
        <td class="px-0">
          <p-buttongroup>
            <p-button
              icon="pi pi-file-edit"
              [rounded]="true"
              [text]="true"
              size="small"
              styleClass="pr-0 pl-0"
              (click)="editItem(item)"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              severity="danger"
              [text]="true"
              styleClass="pl-0 pr-0"
              size="small"
              (click)="deleteItem(item)"
            ></p-button>
          </p-buttongroup>
        </td>
      </tr>
    </ng-template>
  </p-table>
}

<p-dialog
  [(visible)]="itemDialog"
  [header]="
    currentItem?.id
      ? 'Edit ' + selectedOption + ' Entry&nbsp;&nbsp;&nbsp;&nbsp;'
      : 'Add ' + selectedOption + ' Entry&nbsp;&nbsp;&nbsp;&nbsp;'
  "
  [modal]="true"
  >
  <ng-template #content>
    <p-fluid>
      <div class="pt-4"></div>

      <p-floatlabel variant="on" class="field">
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="currentItem.name"
          required
          />
        <label for="name">Name</label>
        @if (submitted && !currentItem.name) {
          <small class="p-error"
            >Name is required.</small
            >
          }
        </p-floatlabel>

        <div class="pt-4"></div>

        <p-floatlabel variant="on" class="field">
          <p-select
            inputId="category"
            scrollHeight="120px"
            appendTo="body"
            [(ngModel)]="currentItem.category"
            [options]="categories"
            >
          </p-select>
          <label for="category">Category</label>
        </p-floatlabel>

        <div class="pt-4"></div>

        <p-floatlabel variant="on" class="field">
          <p-inputnumber
            id="value"
            [(ngModel)]="currentItem.value"
            required
            />
          <label for="value">Amount (in K)</label>
        </p-floatlabel>
      </p-fluid>
    </ng-template>

    <ng-template #footer>
      <p-button
        label="Cancel"
        icon="pi pi-times"
        [text]="true"
        (click)="hideDialog()"
      ></p-button>
      <p-button
        label="Save"
        icon="pi pi-check"
        [text]="true"
        (click)="saveItem()"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-confirmdialog></p-confirmdialog>

  <div class="nav-buttons mt-4 pb-4">
    @for (item of navItems; track item) {
      <p-button
        [routerLink]="item.routerLink"
        [label]="item.label"
        [icon]="'pi ' + item.icon"
        [outlined]="true"
        size="small"
      ></p-button>
    }
  </div>
