<div class="card flex mt-2 pb-2 justify-content-center">
  <p-selectbutton
    [options]="['Categories']"
    ngModel="Categories"
  ></p-selectbutton>
</div>
<p-button
  (click)="openNew()"
  icon="pi pi-plus"
  class="add-fab"
  [rounded]="true"
></p-button>
@if (data) {
  <p-table
    [value]="data['categories']"
    sortField="exp_returns"
    [sortOrder]="-1"
    styleClass="p-datatable-sm p-datatable-striped text-sm"
    >
    <ng-template #header>
      <tr>
        <th class="pr-0" pSortableColumn="category">Category</th>
        <th pSortableColumn="exp_returns">Expected<br />Returns</th>
        <th class="pr-0">Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>
          {{ item.category }}
        </td>
        <td>{{ item.exp_returns }}%</td>
        <td>
          <p-buttongroup>
            <p-button
              icon="pi pi-file-edit"
              [rounded]="true"
              [text]="true"
              size="small"
              (click)="editItem(item)"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              severity="danger"
              [text]="true"
              size="small"
              (click)="deleteItem(item)"
            ></p-button>
          </p-buttongroup>
        </td>
      </tr>
    </ng-template>
  </p-table>
}

<p-dialog
  [(visible)]="itemDialog"
  [header]="currentItem?.id ? 'Edit Category' : 'Add Category'"
  [modal]="true"
  >
  <ng-template #content>
    <p-fluid>
      <div class="pt-4"></div>

      <p-floatlabel variant="on" class="field">
        <input
          type="text"
          pInputText
          id="category"
          [(ngModel)]="currentItem.category"
          required
          />
        <label for="category">Category</label>
        @if (submitted && !currentItem.category) {
          <small class="p-error"
            >Category is required.</small
            >
          }
          @if (submitted && !isAvailable(currentItem)) {
            <small class="p-error"
              >Category already defined.</small
              >
            }
          </p-floatlabel>

          <div class="pt-4"></div>

          <p-floatlabel variant="on" class="field">
            <p-inputnumber
              id="exp_returns"
              [(ngModel)]="currentItem.exp_returns"
              required
              autofocus
              />
            <label for="exp_returns">Expected Returns(%)</label>
          </p-floatlabel>
        </p-fluid>
      </ng-template>

      <ng-template #footer>
        <p-button
          label="Cancel"
          icon="pi pi-times"
          [text]="true"
          (click)="hideDialog()"
        ></p-button>
        <p-button
          label="Save"
          icon="pi pi-check"
          [text]="true"
          (click)="saveItem()"
        ></p-button>
      </ng-template>
    </p-dialog>

    <p-confirmdialog></p-confirmdialog>

    <div class="nav-buttons mt-4 pb-4">
      @for (item of navItems; track item) {
        <p-button
          [routerLink]="item.routerLink"
          [label]="item.label"
          [icon]="'pi ' + item.icon"
          [outlined]="true"
          styleClass="p-button-xs"
          size="small"
        ></p-button>
      }
    </div>
