#container {
  width: min(100vw, 80vh);
  height: min(100vw, 80vh);
  margin-top: 5px;
}

#chart-container {
  height: 80vh;
}

#slider {
  font-size: 13px;
  color: rgb(80, 89, 97);
  display: flex;
  padding-right: 10px;
  padding-top: 5px;
  align-items: center;
  span {
    padding-bottom: 3px;
  }
  p-inputSwitch {
    transform: scale(0.6);
  }
}
