#portfolio-chart {
  width: min(100vw, 75vh);
  height: min(100vw, 75vh);
  margin-top: 5px;
}

#chart-container {
  height: 75vh;
}

#slider {
  font-size: 13px;
  color: rgb(80, 89, 97);
  display: flex;
  padding-right: 10px;
  padding-top: 5px;
  align-items: center;
  span {
    padding-bottom: 3px;
  }
  p-inputSwitch {
    transform: scale(0.6);
  }
}

#timestamp {
  color: rgb(80, 89, 97);
  padding-right: 10px;
  font-style: italic;
  font-size: smaller;
}
