<div id="slider">
  <span class="">Hide Others</span>
  <p-inputSwitch [(ngModel)]="omitOthers" (onChange)="changed()"
    >Hide Others</p-inputSwitch
  >
</div>
<div id="chart-container">
  <div id="container"></div>
</div>
<div class="nav-buttons">
  <!-- /*
 Pages:             Nav Buttons
  1. Dashboard   : Manage Allocation
  2. Manage      : Dashboard Allocation
  3. Category    : Dashboard Allocation Expectations
  4. Allocation  : Dashboard Expectations Category
  5. Expectation : Dashboard Allocation Category
*/ -->
  <p-button
  *ngFor="let item of navItems"
    [label]="item.label"
    [icon]="'pi ' + item.icon"
    [outlined]="true"
    size="small"
    (click)="navigate('edit')"
  ></p-button>
</div>
