.spacer {
  flex: 1 1 auto;
}
.avatar {
  background-size: cover;
  border-radius: 50%;
}
.avatar-size {
  width: 90%;
}
.user-info {
  color: lightcyan;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  .name {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .email {
    font-size: 0.8rem;
  }
  img {
    max-width: 40%;
  }
}
.signout {
  text-align: center;
}
.spinner {
  mat-spinner {
    margin: 40vh auto 0;
  }
}

.login-button {
  text-align: center;
  button {
    margin-top: 40vh;
  }
}

.center-div {
  display: flex;
  justify-content: center;
  button {
    margin: auto 5px;
  }
}

#logo {
  height: 36px;
}
#appName {
  padding-left: 10px;
}
