.spinner {
  mat-spinner {
    margin: 40vh auto 0;
  }
}

.login-button {
  text-align: center;
  button {
    margin-top: 40vh;
  }
}

.center-div {
  display: flex;
  justify-content: center;
  button {
    margin: auto 5px;
  }
}


#appName {
  // second span
  span:first-child {
    color: #60a5fa;
  }
}


nav {
  padding: 0.5rem 1rem 2rem;
  margin-top: 1rem;

  ul {
    list-style: none;
    padding-left: 0;
    li {
      a {
        div {
          width: 2rem;
          height: 2rem;
          border-radius: var(--border-radius);
          margin-right: 0.5rem;
          border: 1px solid var(--surface-border);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s;
          position: relative;
          background-color: transparent;
        }
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0.5rem 1rem;
        color: var(--surface-900);
        transition: all 0.2s;
        text-decoration: none;
      }

      a.nav-active {
        color: var(--primary-400);
      }

      &:hover {
        a {
          div {
            background-color: var(--surface-card);
          }
        }
      }
    }
  }
}
