<mat-toolbar color="primary">
  <button class="nav-icon-buttons" mat-icon-button>
    <img class="logo" src="assets/logo.png" />
  </button>
  <span id="appName">AniPortfolioAllocation</span>
  <span class="spacer"></span>
  <button
    class="nav-icon-buttons"
    mat-icon-button
    *ngIf="user"
    [matTooltip]="user.displayName"
    [matMenuTriggerFor]="menu"
  >
    <img class="avatar logo" [src]="user.photoURL" />
  </button>
  <mat-menu #menu="matMenu">
    <div class="user-info" *ngIf="user">
      <img class="avatar" [src]="user.photoURL" />
      <div class="name">{{ user.displayName }}</div>
      <div class="email">{{ user.email }}</div>
    </div>
    <div mat-menu-item class="signout">
      <button mat-stroked-button (click)="auth.signOut()" class="button-border">
        <mat-icon>power_settings_new</mat-icon>
        Sign Out
      </button>
    </div>
  </mat-menu>
</mat-toolbar>

<div class="spinner" *ngIf="loading"><mat-spinner></mat-spinner></div>

<div class="login-button" *ngIf="!loading && !user">
  <button mat-stroked-button (click)="auth.googleSignin()">
    Login with Google
  </button>
</div>

<router-outlet></router-outlet>
