<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>account_balance_wallet</mat-icon>
  </button>
  <span>AniPortfolioAllocation</span>
  <span class="spacer"></span>
  <button mat-icon-button *ngIf="user">
    <img
      class="avatar avatar-size"
      [src]="user.photoURL"
      [matTooltip]="user.displayName"
      [matMenuTriggerFor]="menu"
    />
  </button>
  <mat-menu #menu="matMenu">
    <div class="user-info" *ngIf="user">
      <img class="avatar" [src]="user.photoURL" />
      <div class="name">{{ user.displayName }}</div>
      <div class="email">{{ user.email }}</div>
    </div>
    <div mat-menu-item class="signout">
      <button mat-stroked-button (click)="auth.signOut()" class="button-border">
        <mat-icon>power_settings_new</mat-icon>
        Sign Out
      </button>
    </div>
  </mat-menu>
</mat-toolbar>

<div class="spinner" *ngIf="loading"><mat-spinner></mat-spinner></div>

<div class="login-button" *ngIf="!loading && !user">
  <button mat-stroked-button (click)="auth.googleSignin()">
    Login with Google
  </button>
</div>

<router-outlet></router-outlet>
