/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

.anychart-credits {
  display: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.center-div {
  display: flex;
  justify-content: center;
}

.nav-buttons {
  @extend .center-div;
  button {
    margin: auto 5px;
  }
}

body {
  --glow-image: url(assets/glow-image.png),
    radial-gradient(
      50% 50% at center -25px,
      var(--primary-color) 0%,
      #000000 100%
    );
  --glow-blend: hard-light, color-dodge;
  background-image: var(--glow-image);
  background-blend-mode: var(--glow-blend);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 20rem;
  background-color: var(--surface-ground);
}

.toolbar {
  position: sticky;
  border-bottom: 1px solid var(--surface-border);
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

@layer primeng {
  .p-button.p-button-xs {
    font-size: 0.75rem;
    padding: 0.6rem 1rem;
  }
  .p-datatable .p-sortable-column.p-frozen-column.p-highlight {
    background: #424b57;
  }
  .p-datatable .p-sortable-column.p-frozen-column {
    &:hover {
      background: #424b57;
    }
  }
}
