<div class="nav-buttons">
  <!-- /*
   Pages:             Nav Buttons
    1. Dashboard   : Manage Allocation
    2. Manage      : Dashboard Allocation
    3. Category    : Dashboard Allocation Expectations
    4. Allocation* : Dashboard Expectations Category
    5. Expectation : Dashboard Allocation Category
  */ -->
  <button
    mat-stroked-button
    color="primary"
    class="button-border"
    (click)="navigate('view')"
  >
    Dashboard
  </button>
  <button
    mat-stroked-button
    color="primary"
    class="button-border"
    (click)="navigate('expectations')"
  >
    Expectations
  </button>
  <button
    mat-stroked-button
    color="primary"
    class="button-border"
    (click)="navigate('category')"
  >
    Category
  </button>
</div>
